<br><br><a class="home-button" [routerLink]="['/admin/list']">Go Back</a>
<div class="container">
  <h3 class="text-secondary">Edit Staff</h3>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name">
          <div *ngIf="updateForm.get('name')!.hasError('required') && updateForm.get('name')!.touched">
            Name is required.
          </div>
        </div>
      
        <div>
          <label for="date_of_birth">Date of Birth:</label>
          <input type="date" id="date_of_birth" formControlName="date_of_birth" [attr.disabled]="true">
          <div *ngIf="updateForm.get('date_of_birth')!.hasError('required') && updateForm.get('date_of_birth')!.touched">
            Date of Birth is required.
          </div>
          <div *ngIf="updateForm.get('date_of_birth')?.hasError('age')">
            Age should be greater than 18.
          </div>    
        </div>
      
        <div>
          <label for="age">Age:</label>
          <input type="number" id="age" formControlName="age" [attr.disabled]="true">
          <div *ngIf="updateForm.get('age')!.hasError('required') && updateForm.get('age')!.touched">
            Age is required.
          </div>
        </div>
      
        <div>
          <label for="gender">Gender:</label>
          <select id="gender" formControlName="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <!-- Add more options if needed -->
          </select>
          <div *ngIf="updateForm.get('gender')!.hasError('required') && updateForm.get('gender')!.touched">
            Gender is required.
          </div>
        </div>
      
        <div>
          <label for="role">Role:</label>
          <select id="role" formControlName="role" [attr.disabled]="true">
              <option *ngFor="let roleOption of roleOptions" [value]="roleOption.value">{{ roleOption.label }}</option>
          </select>
          <div *ngIf="updateForm.get('role')!.hasError('required') && updateForm.get('role')!.touched">
              Role is required.
          </div>
      </div>
    
      <div *ngIf="updateForm.get('role')!.value === 'Doctor'">
        <div>
          <label for="specialization">Specialization:</label>
          <input type="text" id="specialization" formControlName="specialization" [attr.disabled]="true">
          <div *ngIf="updateForm.get('specialization')!.hasError('required') && updateForm.get('specialization')!.touched">
            Specialization is required.
          </div>
        </div>
    
        <div>
          <label for="consultation_fee">Consultation Fee:</label>
          <input type="number" id="consultation_fee" formControlName="consultation_fee">
          <div *ngIf="updateForm.get('consultation_fee')!.hasError('required') && updateForm.get('consultation_fee')!.touched">
            Consultation Fee is required.
          </div>
        </div>
      </div>
      
        <div>
          <label for="phone_number">Phone Number:</label>
          <input type="tel" id="phone_number" formControlName="phone_number">
          <div *ngIf="updateForm.get('phone_number')!.hasError('required') && updateForm.get('phone_number')!.touched">
            Phone Number is required.
          </div>
          <div *ngIf="updateForm.get('phone_number')!.hasError('pattern')">
            Please enter a valid phone number.
          </div>
        </div>
      
        <div>
          <label for="date_of_joining">Date of Joining:</label>
          <input type="date" id="date_of_joining" formControlName="date_of_joining" [attr.disabled]="true">
          <div *ngIf="updateForm.get('date_of_joining')!.hasError('required') && updateForm.get('date_of_joining')!.touched">
            Date of Joining is required.
          </div>
          <div *ngIf="updateForm.get('date_of_joining')!.hasError('dateOfJoining') && updateForm.get('date_of_joining')!.touched">
            Please select only today or tomorrow for Date of Joining.
          </div>
        </div>
      
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" formControlName="username" [attr.disabled]="true">
          <div *ngIf="updateForm.get('username')!.hasError('required') && updateForm.get('username')!.touched">
            Username is required.
          </div>
        </div>
      
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" #passwordInput>
          <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility()"> <label for="showPassword">Show Password</label>
          <div *ngIf="updateForm.get('password')!.hasError('required') && updateForm.get('password')!.touched" class="error-message">
            Password is required.
          </div>
        </div>

        <div>
          <label for="is_active">Is Active:</label>
          <input type="checkbox" id="is_active" formControlName="is_active">
        </div>
      
        <div>
          <button type="submit" [disabled]="updateForm.invalid">Submit</button>
        </div>
      </form>
    </div>
    <br><br>