.profile-container {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .home-button {
    position: absolute;
    top: 6%;
    right: 10%;
    padding: 3px;
    font-size: 20px;
    border: 1px solid #34dbdb;
    color:rgb(154, 27, 193);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
 
  }
  
  .profile-info {
    margin-top: 20px;
  }
  
  h1 {
    text-align: center;
    color: #007bff;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as needed */
  }
  
  .hom-button {
    text-decoration: none;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #34dbdb;
    color: rgb(154, 27, 193);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 10px; /* Adjust the margin as needed */
  }