<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Dashboard - Clinical Management System</title>
</head>
<body>
  <header>
    <h1>Doctor Dashboard</h1>
  </header>


  <main>
    <div class="button-container">
      <button [routerLink]="['/doctor/list']">Doctor Appointments</button>&nbsp;&nbsp;
      <button [routerLink]="['/doctor/history']">Todays Medicine History</button>&nbsp;&nbsp;

      <button (click)="logout()">Logout</button>

    </div>
    
  </main>

  <footer>
    &copy; 2023 Clinical Management System. All rights reserved.
  </footer>
</body>
</html>

<router-outlet></router-outlet>