<div class="container">
    <h3 class="text-success">Add Observation</h3>
    <hr>
<form name="frmPosts" #form="ngForm" autocomplete="off"
        (ngSubmit)="onSubmit(form)">
<div class="form-group">
    <input type="hidden" readonly name="id" [(ngModel)] = "doctorService.formMedicineHistoryData.id">
</div>

<br>
<div class="form group">
    <label>Select Patient Registration Number:</label>
    <select name="patient" id="patient"
    class="form-control shadow-none border-success" required
    #patient="ngModel"
    [(ngModel)] = "doctorService.formMedicineHistoryData.patient">
    <option value=0 disabled>Select Patient</option>
    <option *ngFor="let patient of receptionistService.patients"
    value="{{patient.id}}">{{patient.registernumber}}-{{patient.fullname}}</option>
</select>

<div class="validation-error" *ngIf="patient.touched&& patient.invalid">
    <div>Required</div>
</div>
</div>
<br>
<div class="form group">
    <label>Select Available Doctor:</label>
    <select name="doctor" id="doctor"
    class="form-control shadow-none border-success" required
    #doctor="ngModel"
    [(ngModel)] = "doctorService.formMedicineHistoryData.doctor">
    <option value=0 disabled>Choose Available Doctor</option>
    <option *ngFor="let doc of receptionistService.avaliabledoc"
    value="{{doc.id}}">{{doc.doctor_name}}</option>
</select>
<div class="validation-error" *ngIf="doctor.touched&& doctor.invalid">
    <div>Required</div>
</div>
</div>


<br>
<label>Observation Details</label>
<div class="form-floating mb-10">
    <input name="observation_details" #observation_details="ngModel"
        [(ngModel)]="doctorService.formMedicineHistoryData.observation_details"
        class="form-control shadow-none border-success custom-address-input" placeholder="Enter Address">
</div>
<div class="validation-error" *ngIf="observation_details.touched && observation_details.invalid">
    <div>Observation Details is required</div>
</div>


<br>
<label>Diagnosis Details</label>
<div class="form-floating mb-10">
    <input name="diagnosis_details" #diagnosis_details="ngModel"
        [(ngModel)]="doctorService.formMedicineHistoryData.diagnosis_details"
        class="form-control shadow-none border-success custom-address-input" placeholder="Enter Address">
</div>
<div class="validation-error" *ngIf="diagnosis_details.touched && diagnosis_details.invalid">
    <div>Address is required</div>
</div>
<br>

<div class="form-group">
    <label>Select Tests</label>
    <select name="tests" id="tests"
        class="form-control shadow-none border-success"
        required
        multiple
        #choose_test="ngModel"
        [(ngModel)]="doctorService.formMedicineHistoryData.choose_test">
        <option value="0" disabled>Select Test(s)</option>
        <option *ngFor="let test of labTechnicianService.tests"
                [value]="test.id">{{test.name}}</option>
    </select>
    <div class="validation-error" *ngIf="choose_test.touched && choose_test.invalid">
        <div>At least one test is required</div>
    </div>
</div>
<br>
<div class="row">
   
        
    
    <div class="col-md-6">
        <div class="form-group" style="margin-left: 5px; margin-right: 40px;">
            <button class="btn btn-success w-100 mb-2" name="submit" type="submit" [disabled]="!form.valid">Add Medicine</button>
        </div>     
    </div>
    <div class="col-md-6">
        <a (click)="goBack()" role="button">
            <button class="btn btn-danger w-100 mb-2" type="submit">Cancel</button>
        </a>
    </div>

   
</div>
